.MuiTooltip-tooltip {
   font-size: 20px;
    padding: 5px 15px;
}
.MuiBadge-badge {
   font-weight: bold;

}
.factory,
.robots {
    border-radius: 10px;
    border-left-width: 1px;
    border-right-width: 1px;
    position: relative;
    outline: 0px;
    margin: 15px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: left;
    padding: 24px;
    background-color: #181818;
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    border-image: initial;
    margin-bottom: 25px;
}
.factory > div,
.robots > div {
    width: 100%;
}